
body {
  background-color: #F8F9FA;
  height: 100%;
}

.App {
  text-align: center;
  margin: 10% 30%;
}

.dashboards-header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.card-container {
  margin-bottom: 10px;
}

.collapsed-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 600;
}

.button-icons {
  cursor: pointer
}

.expanded-card {
  padding: 10px;
}

.dashboard-item-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-item-text {
  text-align: start;
  margin-left: 10px;
  color: #212934;
}

.material-icons {
  color: #4A5768;
}

.star-icon {
  color: #A0ADBA;
  margin-right: 10px;
}

hr {
  border-top: #A0ADBA;
}