
body {
  background-color: #F8F9FA;
  height: 100%;
}

.App {
  text-align: center;
  margin: 10% 30%;
}

.card-container {
  margin-bottom: 10px;
}

.collapsed-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 600;
}

.button-icons {
  cursor: pointer
}

